<form (submit)="onSubmitHandler($event)" class="min-h-[80vh] flex items-center">
  <div
    class="flex flex-col gap-3 m-auto items-start p-8 min-w-[340px] sm:min-w-96 border rounded-xl text-zinc-600 text-sm shadow-lg"
  >
    <p class="text-2xl font-semibold">
      {{ state() === 'Sign Up' ? 'Create Account' : 'Login' }}
    </p>
    <p>Please {{ state() === 'Sign Up' ? 'sign up' : 'log in' }} to book appointment</p>

    <div *ngIf="state() === 'Sign Up'" class="w-full">
      <p>Full Name</p>
      <input
        class="border border-zinc-300 rounded w-full p-2 mt-1"
        type="text"
        [(ngModel)]="name"
        name="name"
        required
      />
    </div>

    <div class="w-full">
      <p>Email</p>
      <input
        class="border border-zinc-300 rounded w-full p-2 mt-1"
        type="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>

    <div class="w-full">
      <p>Password</p>
      <input
        class="border border-zinc-300 rounded w-full p-2 mt-1"
        type="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>
    <app-button
      type="submit"
      variant="primary"
      class="w-full"
      [fullWidth]="true"
      (click)="onSubmitHandler($event)"
      [loading]="isLoading()"
    >
      {{ state() === 'Sign Up' ? 'Create Account' : 'Login' }}
    </app-button>

    <p *ngIf="state() === 'Sign Up'; else loginBlock">
      Already have an account?
      <span (click)="state.set('Login')" class="text-primary underline cursor-pointer">
        Login here
      </span>
    </p>

    <ng-template #loginBlock>
      <p>
        Create a new account?
        <span (click)="state.set('Sign Up')" class="text-primary underline cursor-pointer">
          click here
        </span>
      </p>
    </ng-template>
  </div>
</form>
