<div class="md:mx-10">
  <div class="flex flex-col sm:grid grid-cols-[3fr_1fr_1fr] gap-14 my-10 mt-40 text-sm">
    <div>
      <img class="mb-5 w-40" src="assets/images/logo.svg" alt="" />
      <p class="w-full md:w-2/3 text-gray-600 leading-6">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
    <div>
      <p class="text-xl font-medium mb-5">COMPANY</p>
      <ul class="flex flex-col gap-2 text-gray-600">
        <li>Home</li>
        <li>About us</li>
        <li>Delivery</li>
        <li>Privacy policy</li>
      </ul>
    </div>
    <div>
      <p class="text-xl font-medium mb-5">GET IN TOUCH</p>
      <ul class="flex flex-col gap-2 text-gray-600">
        <li>+0-000-000-000</li>
        <li>lenguyenkhoi2806@gmail.com</li>
      </ul>
    </div>
  </div>
  <div>
    <hr />
    <p class="py-5 text-sm text-center">Copyright 2024 @ Greatstack.dev - All Right Reserved.</p>
  </div>
</div>
